In [12]:
import pandas as pd

In [10]:
with open('./data/input_08.txt', 'r') as file:
    data = [list(map(int, list(x))) for x in file.read().split('\n')[:-1]]

In [15]:
data_df = pd.DataFrame(data)
data_df

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,4,0,4,3,1,0,1,1,3,3,...,0,3,2,3,1,2,1,4,2,3
1,1,2,0,0,2,2,1,3,1,0,...,3,2,0,4,2,0,3,2,1,2
2,1,1,4,4,4,4,0,4,3,4,...,0,3,5,1,0,1,2,0,3,0
3,2,1,2,2,4,0,4,1,4,5,...,4,3,5,2,5,0,0,0,3,3
4,3,2,4,1,4,4,1,3,0,1,...,5,3,4,4,3,1,1,2,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,4,3,3,1,1,5,1,1,3,1,...,3,3,1,2,3,1,1,0,5,0
95,1,1,3,2,3,1,4,4,5,1,...,0,2,4,1,4,4,0,2,0,2
96,1,2,4,0,0,1,1,2,3,5,...,1,1,3,4,3,5,1,3,3,0
97,0,0,4,0,3,4,4,4,2,1,...,4,1,4,0,3,4,4,0,3,0
98,3,2,1,4,0,2,4,0,5,4,...,2,2,3,2,2,2,2,3,4,2

In [43]:
visible = 0
for x in range(data_df.shape[0]):
    for y in range(data_df.shape[1]):
        if x == 0 or x == 98 or y == 0 or y == 98:
            visible += 1
        else:
            if data_df.loc[x, y] > max(data_df.loc[x, :y-1].values) or data_df.loc[x, y] > max(data_df.loc[x, y+1:].values) \
                or data_df.loc[x, y] > max(data_df.loc[:x-1, y].values) or data_df.loc[x, y] > max(data_df.loc[x+1:, y].values):
                visible +=1
print(visible)

1538

In [42]:
scenic_score = 0
for x in range(data_df.shape[0]):
    for y in range(data_df.shape[1]):
        l, r, u, d = 0, 0, 0, 0
        if x == 0:
            l = 1
        if x == data_df.shape[0]:
            r = 1
        if y == 0:
            u = 1
        if y == data_df.shape[1]:
            d = 1
        
        if l == 0:
            stop = 0
            for z in range(x)[::-1]:
                stop += 1
                if data_df.loc[z, y] >= data_df.loc[x, y]:
                    break
            l = stop

        if r == 0:
            stop = 0
            for z in range(x+1, data_df.shape[0]):
                stop += 1
                if data_df.loc[z, y] >= data_df.loc[x, y]:
                    break
            r = stop

        if u == 0:
            stop = 0
            for z in range(y)[::-1]:
                stop += 1
                if data_df.loc[x, z] >= data_df.loc[x, y]:
                    break
            u = stop

        if d == 0:
            stop = 0
            for z in range(y+1, data_df.shape[1]):
                stop += 1
                if data_df.loc[x, z] >= data_df.loc[x, y]:
                    break
            d = stop

        scenic_score = max([l*u*d*r, scenic_score])

print(scenic_score)

496125